h2, .h2 {
  font-size: 1rem !important;
}

@media (min-width: 992px) {
  h2, .h2 {
    font-size: 1.3rem !important;
  }
}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 1.9rem !important;
  }
}

@media (min-width: 1400px) {
  h2, .h2 {
    font-size: 2.3rem !important;
  }
}

@media (min-width: 1948px) {
  h2, .h2 {
    font-size: 3.3rem !important;
  }
}

h5 {
  font-size: 0.7rem !important;
}

@media (min-width: 992px) {
  h5, .h5 {
    font-size: 0.8rem !important;
  }
}

@media (min-width: 1200px) {
  h5, .h5 {
    font-size: 0.8rem !important;
  }
}

@media (min-width: 1400px) {
  h5, .h5 {
    font-size: 1rem !important;
  }
}

@media (min-width: 1948px) {
  h5, .h5 {
    font-size: 1.2rem !important;
  }
}

p {
  font-size: 0.4rem !important;
  margin-bottom: 0.3rem !important;
}

@media (min-width: 1200px) {
  p, .p {
    font-size: 0.5rem !important;
  }
}

@media (min-width: 1400px) {
  p, .p {
    font-size: 0.75rem !important;
  }
}

@media (min-width: 1948px) {
  p, .p {
    font-size: 1rem !important;
  }
}

.chem-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 150vh;
  min-width: inherit;
}

@media (min-width: 576px) {
  .chem-parent {
    grid-template-columns: repeat(6, 1fr) !important;
    grid-template-rows: repeat(10, 1fr) !important;
    min-height: inherit !important;
  }

  .chem-div1 {
    grid-area: 1 / 1 / 3 / 3 !important;
  }

  .chem-div2 {
    grid-area: 1 / 3 / 4 / 6 !important;
  }

  .chem-div3 {
    grid-area: 1 / 6 / 4 / 7 !important;
  }

  .chem-div4 {
    grid-area: 4 / 3 / 7 / 4 !important;
  }

  .chem-div5 {
    grid-area: 4 / 4 / 7 / 7 !important;
  }

  .chem-div6 {
    grid-area: 7 / 3 / 10 / 5 !important;
  }

  .chem-div7 {
    grid-area: 7 / 5 / 9 / 6 !important;
  }

  .chem-div8 {
    grid-area: 7 / 6 / 9 / 7 !important;
  }

  .chem-div9 {
    grid-area: 9 / 5 / 10 / 7 !important;
  }

  .chem-div10 {
    grid-area: 10 / 3 / 11 / 7 !important;
  }

  .chem-div11 {
    grid-area: 3 / 1 / 6 / 3 !important;
  }

  .chem-div12 {
    grid-area: 6 / 1 / 7 / 3 !important;
  }

  .chem-div13 {
    grid-area: 7 / 1 / 9 / 3 !important;
  }

  .chem-div14 {
    grid-area: 9 / 1 / 11 / 3 !important;
  }
}

.card-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  word-wrap: break-word;
}

.hidden-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.chem-div1 {
  grid-area: 1 / 1 / 3 / 5;
}

.chem-div2 {
  grid-area: 3 / 1 / 6 / 4;
  background: rgba(255, 23, 68, 0.8);
  background-image: linear-gradient(to top, rgba(255, 23, 68, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div3 {
  grid-area: 3 / 4 / 6 / 5;
  background-color: rgba(255, 23, 68, 0.5);
  background-image: linear-gradient(to top, rgba(255, 23, 68, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div4 {
  grid-area: 6 / 1 / 9 / 2;
  background-color: rgba(213, 0, 249, 0.5);
  background-image: linear-gradient(to top, rgba(213, 0, 249, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div5 {
  grid-area: 6 / 2 / 9 / 5;
  background-color: rgba(213, 0, 249, 0.8);
  background-image: linear-gradient(to top, rgba(213, 0, 249, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div6 {
  grid-area: 9 / 1 / 12 / 3;
  background-color: rgba(101, 31, 255, 0.8);
  background-image: linear-gradient(to top, rgba(48, 79, 254, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div7 {
  grid-area: 9 / 3 / 11 / 4;
  background-color: rgba(124, 77, 255, 0.8);
  background-image: linear-gradient(to top, rgba(48, 79, 254, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div8 {
  grid-area: 9 / 4 / 11 / 5;
  background-color: rgba(61, 90, 254, 0.8);
  background-image: linear-gradient(to top, rgba(48, 79, 254, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div9 {
  grid-area: 11 / 3 / 12 / 5;
  background-color: rgba(48, 79, 254, 0.8);
  background-image: linear-gradient(to top, rgba(48, 79, 254, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div10 {
  grid-area: 12 / 1 / 14 / 3;
  background-color: rgba(41, 98, 255, 0.8);
  background-image: linear-gradient(to top, rgba(48, 79, 254, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div11 {
  grid-area: 12 / 3 / 16 / 5;
  background-color: rgba(0, 184, 212, 0.8);
  background-image: linear-gradient(to top, rgba(0, 200, 83, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div12 {
  grid-area: 14 / 1 / 15 / 3;
  background-color: rgba(29, 233, 182, 0.8);
  background-image: linear-gradient(to top, rgba(0, 200, 83, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div13 {
  grid-area: 15 / 1 / 18 / 3;
  background-color: rgba(255, 171, 0, 0.8);
  background-image: linear-gradient(to top, rgba(255, 109, 0, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div14 {
  grid-area: 16 / 3 / 18 / 5;
  background-color: rgba(255, 145, 0, 0.8);
  background-image: linear-gradient(to top, rgba(255, 109, 0, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-div2:hover {
  background-position: bottom;
}

.chem-div2:hover>.displayed-content {
  display: none;
}

.chem-div2:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div3:hover {
  background-position: bottom;
}

.chem-div3:hover>.displayed-content {
  display: none;
}

.chem-div3:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div4:hover {
  background-position: bottom;
}

.chem-div4:hover>.displayed-content {
  display: none;
}

.chem-div4:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div5:hover {
  background-position: bottom;
}

.chem-div5:hover>.displayed-content {
  display: none;
}

.chem-div5:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div6:hover {
  background-position: bottom;
}

.chem-div6:hover>.displayed-content {
  display: none;
}

.chem-div6:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div7:hover {
  background-position: bottom;
}

.chem-div7:hover>.displayed-content {
  display: none;
}

.chem-div7:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div8:hover {
  background-position: bottom;
}

.chem-div8:hover>.displayed-content {
  display: none;
}

.chem-div8:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div9:hover {
  background-position: bottom;
}

.chem-div9:hover>.displayed-content {
  display: none;
}

.chem-div9:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div10:hover {
  background-position: bottom;
}

.chem-div10:hover>.displayed-content {
  display: none;
}

.chem-div10:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div11:hover {
  background-position: bottom;
}

.chem-div11:hover>.displayed-content {
  display: none;
}

.chem-div11:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div12:hover {
  background-position: bottom;
}

.chem-div12:hover>.displayed-content {
  display: none;
}

.chem-div12:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div13:hover {
  background-position: bottom;
}

.chem-div13:hover>.displayed-content {
  display: none;
}

.chem-div13:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div14:hover {
  background-position: bottom;
}

.chem-div14:hover>.displayed-content {
  display: none;
}

.chem-div14:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

/* small divs */
.hidden-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.chem-sm-div1 {}

.chem-sm-div2 {
  background: rgba(255, 23, 68, 0.8);
  background-image: linear-gradient(to top, rgba(255, 23, 68, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div3 {
  background-color: rgba(255, 23, 68, 0.5);
  background-image: linear-gradient(to top, rgba(255, 23, 68, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div4 {
  background-color: rgba(213, 0, 249, 0.5);
  background-image: linear-gradient(to top, rgba(213, 0, 249, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div5 {
  background-color: rgba(213, 0, 249, 0.8);
  background-image: linear-gradient(to top, rgba(213, 0, 249, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div6 {
  background-color: rgba(101, 31, 255, 0.8);
  background-image: linear-gradient(to top, rgba(101, 31, 255, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div7 {
  background-color: rgba(41, 121, 255, 0.8);
  background-image: linear-gradient(to top, rgba(41, 121, 255, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div8 {
  background-color: rgba(130, 177, 255, 0.8);
  background-image: linear-gradient(to top, rgba(130, 177, 255, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div9 {
  background-color: rgba(128, 216, 255, 0.8);
  background-image: linear-gradient(to top, rgba(128, 216, 255, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div10 {
  background-color: rgba(0, 229, 255, 0.8);
  background-image: linear-gradient(to top, rgba(0, 229, 255, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div11 {
  background-color: rgba(29, 233, 182, 0.8);
  background-image: linear-gradient(to top, rgba(29, 233, 182, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div12 {
  background-color: rgba(118, 255, 3, 0.8);
  background-image: linear-gradient(to top, rgba(118, 255, 3, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div13 {
  background-color: rgba(255, 234, 0, 0.8);
  background-image: linear-gradient(to top, rgba(255, 234, 0, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div14 {
  background-color: rgba(255, 145, 0, 0.8);
  background-image: linear-gradient(to top, rgba(255, 145, 0, 1) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}

.chem-sm-div2:hover {
  background-position: bottom;
}

.chem-sm-div2:hover>.displayed-content {
  display: none;
}

.chem-sm-div2:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div3:hover {
  background-position: bottom;
}

.chem-sm-div3:hover>.displayed-content {
  display: none;
}

.chem-sm-div3:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div4:hover {
  background-position: bottom;
}

.chem-sm-div4:hover>.displayed-content {
  display: none;
}

.chem-sm-div4:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div5:hover {
  background-position: bottom;
}

.chem-sm-div5:hover>.displayed-content {
  display: none;
}

.chem-sm-div5:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div6:hover {
  background-position: bottom;
}

.chem-sm-div6:hover>.displayed-content {
  display: none;
}

.chem-sm-div6:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div7:hover {
  background-position: bottom;
}

.chem-sm-div7:hover>.displayed-content {
  display: none;
}

.chem-sm-div7:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div8:hover {
  background-position: bottom;
}

.chem-sm-div8:hover>.displayed-content {
  display: none;
}

.chem-sm-div8:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div9:hover {
  background-position: bottom;
}

.chem-sm-div9:hover>.displayed-content {
  display: none;
}

.chem-sm-div9:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div10:hover {
  background-position: bottom;
}

.chem-sm-div10:hover>.displayed-content {
  display: none;
}

.chem-sm-div10:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div11:hover {
  background-position: bottom;
}

.chem-sm-div11:hover>.displayed-content {
  display: none;
}

.chem-sm-div11:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div12:hover {
  background-position: bottom;
}

.chem-sm-div12:hover>.displayed-content {
  display: none;
}

.chem-sm-div12:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div13:hover {
  background-position: bottom;
}

.chem-sm-div13:hover>.displayed-content {
  display: none;
}

.chem-sm-div13:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-sm-div14:hover {
  background-position: bottom;
}

.chem-sm-div14:hover>.displayed-content {
  display: none;
}

.chem-sm-div14:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}
