h2, .h2 {
  font-size: 1rem !important;
}

@media (min-width: 992px) {
  h2, .h2 {
    font-size: 1.3rem !important;
  }
}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 1.9rem !important;
  }
}

@media (min-width: 1400px) {
  h2, .h2 {
    font-size: 2.3rem !important;
  }
}

@media (min-width: 1948px) {
  h2, .h2 {
    font-size: 3.3rem !important;
  }
}

h5 {
  font-size: 0.7rem !important;
}

@media (min-width: 992px) {
  h5, .h5 {
    font-size: 0.8rem !important;
  }
}

@media (min-width: 1200px) {
  h5, .h5 {
    font-size: 0.8rem !important;
  }
}

@media (min-width: 1400px) {
  h5, .h5 {
    font-size: 1rem !important;
  }
}

@media (min-width: 1948px) {
  h5, .h5 {
    font-size: 1.2rem !important;
  }
}

p {
  font-size: 0.4rem !important;
  margin-bottom: 0.3rem !important;
}

@media (min-width: 1200px) {
  p, .p {
    font-size: 0.5rem !important;
  }
}

@media (min-width: 1400px) {
  p, .p {
    font-size: 0.75rem !important;
  }
}

@media (min-width: 1948px) {
  p, .p {
    font-size: 1rem !important;
  }
}

.chem-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 150vh;
  min-width: inherit;
}

@media (min-width: 576px) {
  .chem-parent {
    grid-template-columns: repeat(6, 1fr) !important;
    grid-template-rows: repeat(10, 1fr) !important;
    min-height: inherit !important;
  }

  .chem-div1 {
    grid-area: 1 / 1 / 3 / 3 !important;
  }

  .chem-div2 {
    grid-area: 1 / 3 / 4 / 6 !important;
  }

  .chem-div3 {
    grid-area: 1 / 6 / 4 / 7 !important;
  }

  .chem-div4 {
    grid-area: 4 / 3 / 7 / 4 !important;
  }

  .chem-div5 {
    grid-area: 4 / 4 / 7 / 7 !important;
  }

  .chem-div6 {
    grid-area: 7 / 3 / 10 / 5 !important;
  }

  .chem-div7 {
    grid-area: 7 / 5 / 9 / 6 !important;
  }

  .chem-div8 {
    grid-area: 7 / 6 / 9 / 7 !important;
  }

  .chem-div9 {
    grid-area: 9 / 5 / 10 / 7 !important;
  }

  .chem-div10 {
    grid-area: 10 / 3 / 11 / 7 !important;
  }

  .chem-div11 {
    grid-area: 3 / 1 / 6 / 3 !important;
  }

  .chem-div12 {
    grid-area: 6 / 1 / 7 / 3 !important;
  }

  .chem-div13 {
    grid-area: 7 / 1 / 9 / 3 !important;
  }

  .chem-div14 {
    grid-area: 9 / 1 / 11 / 3 !important;
  }
}

.card-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  word-wrap: break-word;
}

.hidden-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.chem-div1 {
  grid-area: 1 / 1 / 3 / 5;
}

.chem-div2 {
  grid-area: 3 / 1 / 6 / 4;
  background-color: #560027;
}

.chem-div3 {
  grid-area: 3 / 4 / 6 / 5;
  background-color: #880e4f;
}

.chem-div4 {
  grid-area: 6 / 1 / 9 / 2;
  background-color: #4a148c;
}

.chem-div5 {
  grid-area: 6 / 2 / 9 / 5;
  background-color: #12005e;
}

.chem-div6 {
  grid-area: 9 / 1 / 12 / 3;
  background-color: #002171;
}

.chem-div7 {
  grid-area: 9 / 3 / 11 / 4;
  background-color: #0d47a1;
}

.chem-div8 {
  grid-area: 9 / 4 / 11 / 5;
  background-color: #00363a;
}

.chem-div9 {
  grid-area: 11 / 3 / 12 / 5;
  background-color: #006064;
}

.chem-div10 {
  grid-area: 12 / 1 / 14 / 3;
  background-color: #003d00;
}

.chem-div11 {
  grid-area: 12 / 3 / 16 / 5;
  background-color: #f3e5f5;
}

.chem-div12 {
  grid-area: 14 / 1 / 15 / 3;
  background-color: #ede7f6;
}

.chem-div13 {
  grid-area: 15 / 1 / 18 / 3;
  background-color: #e3f2fd;
}

.chem-div14 {
  grid-area: 16 / 3 / 18 / 5;
  background-color: #e0f2f1;
}

.chem-div2:hover {
  background-position: bottom;
}

.chem-div2:hover>.displayed-content {
  display: none;
}

.chem-div2:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div3:hover {
  background-position: bottom;
}

.chem-div3:hover>.displayed-content {
  display: none;
}

.chem-div3:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div4:hover {
  background-position: bottom;
}

.chem-div4:hover>.displayed-content {
  display: none;
}

.chem-div4:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div5:hover {
  background-position: bottom;
}

.chem-div5:hover>.displayed-content {
  display: none;
}

.chem-div5:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div6:hover {
  background-position: bottom;
}

.chem-div6:hover>.displayed-content {
  display: none;
}

.chem-div6:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div7:hover {
  background-position: bottom;
}

.chem-div7:hover>.displayed-content {
  display: none;
}

.chem-div7:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div8:hover {
  background-position: bottom;
}

.chem-div8:hover>.displayed-content {
  display: none;
}

.chem-div8:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div9:hover {
  background-position: bottom;
}

.chem-div9:hover>.displayed-content {
  display: none;
}

.chem-div9:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div10:hover {
  background-position: bottom;
}

.chem-div10:hover>.displayed-content {
  display: none;
}

.chem-div10:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div11:hover {
  background-position: bottom;
}

.chem-div11:hover>.displayed-content {
  display: none;
}

.chem-div11:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div12:hover {
  background-position: bottom;
}

.chem-div12:hover>.displayed-content {
  display: none;
}

.chem-div12:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div13:hover {
  background-position: bottom;
}

.chem-div13:hover>.displayed-content {
  display: none;
}

.chem-div13:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

.chem-div14:hover {
  background-position: bottom;
}

.chem-div14:hover>.displayed-content {
  display: none;
}

.chem-div14:hover>.hidden-content {
  visibility: visible;
  opacity: 1;
}

/* small divs */
.hidden-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
